@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*********************/
  /* Custom Styles */
/*********************/

:root{
  --red:#f03636;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}

*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body{
  background:#eee;
}

/* navbar logo design  */
.Logodiv{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--red);
  color:#fff;
}


section{

  background: #cfd4eb;
  color: #fff;

}

.header{
 position: sticky;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:#fff;
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:var(--black);
}

.header .logo i{
  color:var(--red);
}

.header .navbar a{
  font-size: 1.7rem;
  margin:0 1rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--red);
}
/* 
added new one for color  */
.nav-link.active{
  color: #f54f4f;
  background-color: #be1616c4;
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--red);
  color:#fff;
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:110%; right:-110%;
  width: 50rem;
  height:5rem;
  background: rgb(255, 247, 247);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
}

.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .search-form label:hover{
  color:var(--red);
}

.header .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.header .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--light-color);
}

.header .login-form p a{
  color:var(--red);
  text-decoration: underline;
}

.home{
  
  align-items: center;
 padding-left: 320px;

  background-position: center;
  background-size: cover;

}



.footer{
  background: rgb(156, 146, 146);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
  padding:1rem 0;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
  padding:1rem 0;
}

.footer .box-container .box h3 i{
  color:var(--red);
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}

.footer .box-container .box .links i{
  color:var(--red);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}


.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}

.footer .box-container .box .share a{
  height:4rem;
  width:4rem;
  line-height:4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--black);
  margin-right: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--red);
  color: #fff;
}

.footer .box-container .box .email{
  width: 100%;
  margin:.7rem 0;
  padding:1rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}



/* sidebar designs new  */

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #d9ddeb;
  color: #fff;
  position:sticky;  
  margin: 1%;
  float:left; width:20%;
  height: 1009px;
  display: flex;
  font-size: large;
  margin-top: 2px;

  
}

/* 
close sidebar designs  */


/* 
------------new  */

#slider{

  height: 345px;
   
  overflow:hidden;
  border: 10px solid white;
  box-shadow: 5px 10px rgba(0,0,0,0.4);

  }
  
  .slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
  }
  img{
  width:100%;
  }
  @keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
  }
  
  .controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
  }
  
  .controls:hover{
  background:rgb(221, 57, 16);
  transition:0.3s;
  }
  .h1dd{
    color: green;
  }
  .controls:active{
  color:grey;
  }
  
  #left-arrow{
    margin-left: 270px;
  left:10px;
  }
  
  #right-arrow{
  right:10px;
  }
  
  #dots-con{
  
  text-align:center;
  }
  .dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
  }
  
  .active{
  background:rgb(7, 67, 213);
  }
  


  /* contentProductLists new checkout  */
.contentProductLists .display_conent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.contentProductLists .display_conent.box{
  padding:3rem 2rem;
  background: rgba(245, 78, 78, 0.774);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--display-shadow);
}

.contentProductLists .display_conent .display:hover{
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.contentProductLists .display_conent .display img{
  margin:1rem 0;
  height: 15rem;
}

.contentProductLists .display_conent .display h3{
  font-size: 2.5rem;
  line-height: 1.8;
  color:var(--black);
}

.contentProductLists .display_conent .display p{
  font-size: 1.5rem;
  line-height: 1.8;
  color:var(--light-color);
  padding:1rem 0;
}
/* --close new  */





  /* resolution adjustements  */
  @media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .header .search-form{
      width:90%;
  }

  .header .navbar{
      position: absolute;
      top:110%; right:-110%;
      width:30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
  }

  .header .navbar.active{
      right:2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin:2rem 2.5rem;
      display: block;
  }

}
@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
  }
  
@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box .payment-img{
      margin: 2rem auto;
  }

}
  }




  